html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(white,#060A24, white) ;
    font-size: 2rem;
    color: #060A24;
    background-color: white;
    margin: 20px;
}

section {
    height: 100%;
    margin-bottom: 50px;
}

header {
    clip-path: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);;
    margin-bottom: 50px;
}

ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: none;
}

li {
    display: block;
    float: left;
}

li a {
    display: block;
    color:#060A24;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #00F3BB;
    transform: scale(1.2);
}

.nav {
    float: right;
}

#episodios {
    padding: 20px;
    height: 100%;
    width: 100%;
}

.ep_img {
    height: 100%;
    width: 100%;
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ep_img iframe {
    margin: 20px;
}

.about {
    color: white;
    display: flex;
    height: auto;
    width: 100%;
    font-size: 2rem;
}

.about img {
    border-radius: 15px;
}

.text_nos {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.text_nos p {
    text-justify: justify;
}

.interviews {
    color: white;
}

.temas {
    display: flex;
    justify-content: space-between;
}

.t_img {
    justify-content: center;
}

div.descrip {
    text-justify: center;
    text-align: center;
}

#home {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
}


button {
    background-color: #00F3BB;
    border-radius: 15px;
    width: 226px;
    height: 56px;
}

.banner {
    
    padding: 50px; 
    display: grid;
    justify-content: center;
    align-content: center;
}

.slider {
    grid-area: slider;
    scroll-behavior: smooth;
    overflow: hidden;
    border-radius: 30px;
    margin: 5px;
    opacity:1;
    width: 99.5%;
    height: auto; 
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate;   
    animation-timing-function: linear;
}

.slider li {
    width: 100%;
    height: auto;
    list-style: none;
}

.slider img {
    border: 10px;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    grid-area: slide;
    overflow: hidden; 
}


@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%}
    45% {margin-left: -100%}

    50% {margin-left: -200%}
    70% {margin-left: -200%}

    75% {margin-left: -300%}
    100% {margin-left: -300%}
}

.button_d {
    justify-items: center;
}

