.button {
  font-size: 1rem;
  background: #00f3bb;
  color: #060a24;
  height: 48px;
  width: 288px;
  margin-top: 5%;
  text-align: center;

  &:hover {
    background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
    color: #FFFFFF;
  }
}
